@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --mainColor: #ffffff;
}

div{
  background-color: #455450;
  border: 10px solid var(--mainColor);
}

body{
  background-color: #486d65;
  color: var(--mainColor);
}

h1{
  color: var(--mainColor);
  font-size: 28px;
  font-family: "Open Sans";
}

img{
  height: 220px;
}

h3{
  color: var(--mainColor);
  text-align: center;
  border: 10px solid var(--mainColor);
}

p{
  text-align: center;
  font-family: "Open Sans";
  color:inherit;
}
